/**
 * Copyright 2014.
 * https://github.com/rsully/variword
 */

/*
 * Reset
 */

 .variword-sentence ul {
 	margin: 0;
	padding: 0;
 }

 /*
  * Everything else
  */

.variword-sentence {
	position: absolute;
}

.variword-sentence .list {
	display: inline-block;
	vertical-align: text-top;
	position: relative;
}

.variword-sentence ul {
	display: block;
	position: relative;
	vertical-align: baseline;
}

.variword-sentence li {
	display: block;
	list-style: none;
}
.variword-sentence li:not(:first-child) {
	visibility: hidden;
}

.variword-sentence li span {
	white-space: nowrap
}
